[submodule "app/src/main/jni/moonlight-core/moonlight-common-c"]
	path = app/src/main/jni/moonlight-core/moonlight-common-c
	url = https://github.com/moonlight-stream/moonlight-common-c.git
[submodule "app/src/main/jni/moonlight-core/h264bitstream"]
	path = app/src/main/jni/moonlight-core/h264bitstream
	url = https://github.com/aizvorski/h264bitstream.git
