language: android
dist: trusty

git:
  depth: 1

android:
  components:
    - tools
    - platform-tools
    - build-tools-29.0.3
    - android-29

before_install:
  - sdkmanager --list

install:
  - yes | sdkmanager "ndk;21.0.6113669"
