<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.limelight">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.wifi" android:required="false" />
    <uses-feature android:name="android.hardware.gamepad" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        
        <!-- Launcher for traditional devices -->
        <activity
            android:name=".PcView"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="tv.ouya.intent.category.APP" />
            </intent-filter>
        </activity>
        
        <!-- Launcher for Android TV devices -->
        <activity
            android:name=".PcViewTv"
            android:logo="@drawable/atv_banner"
            android:icon="@drawable/atv_banner"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".AppView"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:label="App List" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.limelight.PcView" />
        </activity>
        <activity
            android:name=".preferences.StreamSettings"
            android:label="Streaming Settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.limelight.PcView" />
        </activity>
        <activity
            android:name=".preferences.AddComputerManually"
            android:label="Add Computer Manually" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.limelight.PcView" />
        </activity>
        <activity
            android:name=".Game"
            android:screenOrientation="sensorLandscape"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.limelight.Connection" />
        </activity>
        <service
            android:name=".discovery.DiscoveryService"
            android:label="mDNS PC Auto-Discovery Service" />
        <service
            android:name=".computers.ComputerManagerService"
            android:label="Computer Management Service" />
    </application>

</manifest>
