<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Root application name -->
    <!-- Ensure native libraries are always extracted for root builds,
         since we must invoke the evdev_reader binary ourselves -->
    <application
        android:label="@string/app_label_root"
        android:extractNativeLibs="true" />
</manifest>
