<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.limelight.root" >

    <!-- Root permissions -->
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <!-- Root application name -->
    <application android:label="Limelight (Root)" />
</manifest>
